@{
	Layout = "_Layout";
}

<section class="registration">
	<img class="picture" src="https://images.unsplash.com/photo-1640451859877-1374a1155215?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fHN0b2NrJTIwbWFya2V0fGVufDB8fDB8fHww&auto=format&fit=crop" />
	<div class="register">
		<form class="form-register">
			<h3 class="title" style="text-align:center; font-weight:200; color: #E6BE8A; font-size:xx-large;">User Registration</h3>
			<label class="reg-label" for="#name">Full Name</label>
			<input class="reg-input" type="text" id="name" placeholder="Name..." />
			<label class="reg-label" for="#email">Email Address</label>
			<input class="reg-input" type="email" id="email" placeholder="Email..." />
			<label class="reg-label" for="#user">Username</label>
			<input class="reg-input" type="text" id="user" placeholder="Username..." />
			<label class="reg-label" for="#pass">Password</label>
			<input class="reg-input" type="text" id="pass" placeholder="Password..." />
			<label class="reg-label" for="#connpass">Confirm Password</label>
			<input class="reg-input" type="text" id="connpass" placeholder="Password..." />
			<br />
			<div class="reg-button">
				<button type="submit" class="reg-btn">Sign In</button>
			</div>
		</form>
	</div>
</section>
