@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@500&family=Open+Sans&display=swap');

.registration {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    background-color: black;
}

.picture {
    width: 65%;
    height: 100%;
}

/*
.register-form {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-height: 100%;
}

.form-register {
    height: 90%;
    width: 90%;
    background-color: black;
    border-block: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 5px 10px 1px 1px rgba(0, 0, 0, 0.2);
}

.title {
    font-family: 'Nunito Sans', 'Open Sans', sans-serif;
}
*/

.register {
    width: 35%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #E6BE8A;
}

.form-register {
    width: 90%;
    height: 85%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*border: 1px solid #E6BE8A;
    border-radius: 10px;*/
}

.reg-label {
    color: #E6BE8A;
    margin-bottom: 5px;
}

.reg-input {
    background-color: black;
    width: 100%;
    border: none;
    border-bottom: 1px solid #E6BE8A;
    margin-bottom: 10px;
    white-space: normal;
    overflow: auto;
}

    .reg-input:focus {
        color: gray;
        white-space: normal;
        overflow: auto;
    }

.reg-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.reg-btn {
    padding: 10px;
    color: gray;
    background-color: black;
    border: 1px solid #E6BE8A;
}

    .reg-btn:hover {
        background-color: #E6BE8A;
        color: black;
        transition-duration: 0.015s;
    }
