@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@500&family=Open+Sans&display=swap');

.toggle-password {
    background: none;
    border: none;
    cursor: pointer;
    /* Media query isn't shown here. */
    font-size: var(--mobile-font-size);
    font-weight: 300;
    padding: 0;
    /* Display at the top right of the container */
    position: absolute;
    top: 0;
    right: 0;
}

.registration {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    background-color: black;
}

.picture {
    width: 65%;
    height: 100%;
}

.register {
    width: 35%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #E6BE8A;
}

.form-register {
    width: 90%;
    height: 85%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*border: 1px solid #E6BE8A;
    border-radius: 10px;*/
}

.reg-label {
    color: #E6BE8A;
    margin-bottom: 5px;
}

.password {
    display: flex;
    flex-direction: row;
    background-color: black;
    color: gray;
    width: 100%;
    border: none;
    border-bottom: 1px solid #E6BE8A;
    margin-bottom: 10px;
    white-space: normal;
}

.reg-input {
    background-color: black;
    color: gray;
    width: 95%;
    border: none;
    white-space: normal;
    overflow: auto;
}

    .reg-input-email {
        background-color: black;
        color: gray;
        width: 100%;
        border: none;
        border-bottom: 1px solid #E6BE8A;
        margin-bottom: 10px;
        white-space: normal;
    }

.vis-checkbox {
    width: 5%;
    color: #E6BE8A;
}

.reg-input:focus {
    background-color: black;
    color: gray;
    white-space: normal;
    border: none;
    overflow: auto;
}

.reg-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.reg-btn {
    padding: 10px;
    color: gray;
    background-color: black;
    border: 1px solid #E6BE8A;
}

    .reg-btn:hover {
        background-color: #E6BE8A;
        color: black;
        transition-duration: 0.015s;
    }

